@import './styl/grid.styl';

/**
 * Mixins - TODO move to it's own file
 */

$blue = #88afd1

*
 -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
 -moz-box-sizing: border-box;    /* Firefox, other Gecko */
 box-sizing: border-box;         /* Opera/IE 8+ */

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

border-radius()
  vendor('border-radius', arguments)

#form-container
  width 300px
  font-family 'Open Sans'

#form-body
  background: $blue
  border-radius(4px 4px 0px 4px)
  padding 10px
  padding-bottom 0

#lead
  margin-bottom 7px

#button-section
  clearfix()
  height 50px
  .tab-left
    column(8)
    padding 0px 10px 10px 10px
    line-height 30px
    float left
    #commentSpan
      font-size 0.8em
      cursor pointer
      color $blue


  .tab-right
    column(4)
    float right
    background $blue
    padding 0px 10px 10px 10px
    border-radius(0px 0px 4px 4px)

  .send-button
    display block
    width 100%
    background #3D3939
    color #fff
    line-height 30px
    border-radius(4px)
    border none
    margin 0

.header-text
  font-size 1em
  color #fff
  padding 0 0 10px 0

#commentfield
  height 150px
  display none
  width 100%
  border none
  padding 10px
  background #fff
  font-size 0.8em
  margin-bottom 5px
  border-radius(4px)

input[type=text]
  width 100%
  margin-bottom 10px
  padding 10px
  border none
  background #fff
  font-size 0.8em
  border-radius(3px)

// TODO: use mixin
::-webkit-input-placeholder
  color #787878

.validator-message
  font-size 0.8em
  margin 0 0 10px 0
  display block