#form-container
  #form-body  
    form(name='lead', id='lead', action='', method='post')
      .header-text Request more information
      input(type='text', id='namefield', name='name', placeholder='Name')
      input(type='text', id='telfield', name='phone', placeholder='Contact Number')
      input(type='text', id='emailfield', name='email', placeholder='Email')
      input(type='hidden', id='listing_id', name='listingID', value='')
      input(type='hidden', id='vendor_id', name='vendorID', value='')
      input(type='hidden', id='agent_id', name='agentID', value='')
    #button-section
      ul
        li.tab-left
          button.comment-button(type='submit') Add Comment
        li.tab-right
          button.send-button(type='submit') Send

