
<form name="lead" id="lead" action="" method="post">
  <h1>Contact Me</h1>

  <label for="name">Full Name*</label>
  <input type="text" id="name" name="name" placeholder="Bo Jackson"><br/>
  
  <label for="email">Email*</label>
  <input type="text" id="email" name="email" placeholder="name@mydomain.com"><br/>
  
  <label for="tel">Tel#*</label>
  <input type="text" id="tel" name="phone" placeholder="555-555-5555"><br/>
  
  <label for="contact-time">Best Time to contact you(optional)</label>
  <input type="datetime-local" id="contact-time" name="bdaytime"><br/>

  <input type="hidden" name="sid" value="sid goes here"><br/>
  <input type="submit" class="button" value="Submit">
</form>