#form-body
  form(name='lead', id='lead', action='', method='post')
    input(type='text', id='namefield', name='name', placeholder='Name')
    input(type='text', id='telfield', name='phone', placeholder='Contact Number')
    input(type='text', id='emailfield', name='email', placeholder='Email')
    input(type='hidden', id='listing_id', name='listingID', value='')
    input(type='hidden', id='vendor_id', name='vendorID', value='')
    input(type='hidden', id='agent_id', name='agentID', value='')
#button-section
  button.button-left(type='hidden', style='display:none;') Add Comment
  button.button-right(type='submit') Send

