
<form name="lead" id="lead" action="" method="post">
  <h1>Contact Me</h1>

  <label for="name">Full Name*</label>
  <input type="text" id="name" name="name" placeholder="Bo Jackson"><br/>
  
  <label for="email">Email*</label>
  <input type="text" id="email" name="email" placeholder="name@mydomain.com"><br/>
  
  <label for="tel">Tel#*</label>
  <input type="text" id="tel" name="phone" placeholder="555-555-5555"><br/>
  
  <label for="contact-time">Best Time to contact you</label>
  <select id="contact-time" name="contact_time">
    <option value="ASAP">ASAP</option>
    <option value="Mon morning">Mon morning</option>
    <option value="Mon afternoon">Mon afternoon</option>
    <option value="Mon afternoon">Mon afternoon</option>
    <option value="Tue morning">Tue morning</option>
    <option value="Tue afternoon">Tue afternoon</option>
    <option value="Weds morning">Weds morning</option>
    <option value="Weds afternoon">Weds afternoon</option>
    <option value="Thurs morning">Thurs morning</option>
    <option value="Thurs afternoon">Thurs afternoon</option>
    <option value="Fri morning">Fri morning</option>
    <option value="Fri afternoon">Fri afternoon</option>
  </select>

  <input type="hidden" name="listingID" value="532d4cc68b0b042a02aebd38">
  <input type="hidden" name="vendorID" value="test">
  <input type="hidden" name="agentID" value="532d4cc58b0b042a02aeb469">
  <input type="submit" class="button" value="Submit">
</form>